.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
  background-image: url('https://images.ctfassets.net/ulez2nazlzrw/7orLdboQQowIUs22KAW4U/03051108a9f6a4413f110fcebc2c6fd1/matt-palmer-254999.jpg?h=400');
}
